* {
    box-sizing: border-box;
}

.login-inner{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Lato", sana-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(2, 2, 2);
    background-color: #ecf0f3;
}
.login-div{
    width: 430px;
    height: 700px;
    padding: 65px 35px 35px 35px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.registration-div{
    width:530px;
    height: 700px;
    padding: 65px 35px 35px 35px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.contactus-div{
    width:530px;
    height: 800px;
    padding: 65px 35px 35px 35px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo{
    background: url(img/logo.png);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf, -8px -8px 15px #fff;
}
.title {
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
    letter-spacing: 0.5px;
}
.sub-title{
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
}

.fields{
    width: 100%;
    padding: 75px 5px 5px 5px;
}

.fields_r{
    width: 100%;
    padding: 30px 5px 5px 5px;
}
.fields input, .fields_r input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
}

.email,.password {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.email_r, .password_r, .fullname /*, .gender , .dob */{
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}
.email_c, .subject, .message, .query {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}
.dob, .gender{
    background-color: #fff;
} 
.fields svg {
    height: 25px;
    margin: 0 10px -3px 25px;
}

.fields_r svg {
    height: 25px;
    margin: 0 10px -3px 25px;
}

.svg_icon {
    height: 22px;
    /* margin: 0 10px -3px 25px; */
}
.signin-button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: #fff;
    text-align: center;
    background-color: #02c8db;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
    transition: all 0.5s;
}

.signin-button:hover{
    background-color: #50e5b9;
}

.signin-button:active{
    background-color: #88ef9e;
}

